@model IEnumerable<Core2Hastane.model.Hastalar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Hasta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaAdiSoyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Randevular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HastaAdiSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Randevular.HastaAdiSoyadi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HastaId">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.HastaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
